<div class="login-wrapper">
    <mat-card class="login-card">
      <mat-card-title>Login</mat-card-title>
      <mat-card-content>
        <form (ngSubmit)="onSubmit()" #loginForm="ngForm">
          <mat-form-field appearance="fill" class="full-width">
            <mat-label>Email</mat-label>
            <input matInput name="email" [(ngModel)]="email" required />
          </mat-form-field>
  
          <mat-form-field appearance="fill" class="full-width">
            <mat-label>Password</mat-label>
            <input matInput name="password" [(ngModel)]="password" required type="password" />
          </mat-form-field>
  
          <button mat-raised-button color="primary" type="submit">Login</button>
        </form>
  
        <div class="signup-redirect">
          <span>Don't have an account?</span>
          <a routerLink="/signup">Sign up here</a>
        </div>
      </mat-card-content>
    </mat-card>
  </div>
  